.ctools-locked {
    color: red;
    border: 1px solid red;
    padding: 1em;
  }
  
  .ctools-owns-lock {
    background: #FFFFDD none repeat scroll 0 0;
    border: 1px solid #F0C020;
    padding: 1em;
  }
  
  a.ctools-ajaxing,
  input.ctools-ajaxing,
  button.ctools-ajaxing,
  select.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(//spencer.teachit.media/sites/all/modules/contrib/ctools/images/status-active.gif) right center no-repeat;
  }
  
  div.ctools-ajaxing {
    float: left;
    width: 18px;
    background: url(//spencer.teachit.media/sites/all/modules/contrib/ctools/images/status-active.gif) center center no-repeat;
  }/**/
#flickrgallery {
    clear: both;
    float: none;
    width: 100%;
  }
  #block-flickrgallery-flickrgallery_block {
    width: 100%;
  }
  #flickrgallery-albums {
    display: inline-table;
  }
  #flickrgallery-description {
  	margin: 0 0 20px;
  }
  #flickrgallery .flickr-wrap {
  	float: left;
  	margin: 0 10px 10px 0;
  	min-width: 100px;
  	text-align: center;
  }
  #flickrgallery .flickrgallery-title {
  	clear: left;
  	display: block;
  }
  .flickrgallery-return {
  	clear: both;
  	float: none;
  }
  .block #flickrgallery .flickr-wrap {
    display: inline;
  }
  #content #flickrgallery {
    float: left;
  }
  #content #flickrgallery .flickr-wrap {
    float: left;
  }/**/
