#comments {
    margin-top: 15px;
  }
  .indented {
    margin-left: 25px; /* LTR */
  }
  .comment-unpublished {
    background-color: #fff4f4;
  }
  .comment-preview {
    background-color: #ffffea;
  }/**/
/* Field display */
  .field .field-label {
    font-weight: bold;
  }
  .field-label-inline .field-label,
  .field-label-inline .field-items {
    float:left; /*LTR*/
  }
  
  /* Form display */
  form .field-multiple-table {
    margin: 0;
  }
  form .field-multiple-table th.field-label {
    padding-left: 0; /*LTR*/
  }
  form .field-multiple-table td.field-multiple-drag {
    width: 30px;
    padding-right: 0; /*LTR*/
  }
  form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
    padding-right: .5em; /*LTR*/
  }
  
  form .field-add-more-submit {
    margin: .5em 0 0;
  }/**/
.node-unpublished {
    background-color: #fff4f4;
  }
  .preview .node {
    background-color: #ffffea;
  }
  td.revision-current {
    background: #ffc;
  }/**/
.search-form {
    margin-bottom: 1em;
  }
  .search-form input {
    margin-top: 0;
    margin-bottom: 0;
  }
  .search-results {
    list-style: none;
  }
  .search-results p {
    margin-top: 0;
  }
  .search-results .title {
    font-size: 1.2em;
  }
  .search-results li {
    margin-bottom: 1em;
  }
  .search-results .search-snippet-info {
    padding-left: 1em; /* LTR */
  }
  .search-results .search-info {
    font-size: 0.85em;
  }
  .search-advanced .criterion {
    float: left; /* LTR */
    margin-right: 2em; /* LTR */
  }
  .search-advanced .action {
    float: left; /* LTR */
    clear: left; /* LTR */
  }/**/
#permissions td.module {
    font-weight: bold;
  }
  #permissions td.permission {
    padding-left: 1.5em; /* LTR */
  }
  #permissions tr.odd .form-item,
  #permissions tr.even .form-item {
    white-space: normal;
  }
  #user-admin-settings fieldset .fieldset-description {
    font-size: 0.85em;
    padding-bottom: .5em;
  }
  
  /**
   * Override default textfield float to put the "Add role" button next to
   * the input textfield.
   */
  #user-admin-roles td.edit-name {
    clear: both;
  }
  #user-admin-roles .form-item-name {
    float: left; /* LTR */
    margin-right: 1em; /* LTR */
  }
  
  /**
   * Password strength indicator.
   */
  .password-strength {
    width: 17em;
    float: right;  /* LTR */
    margin-top: 1.4em;
  }
  .password-strength-title {
    display: inline;
  }
  .password-strength-text {
    float: right; /* LTR */
    font-weight: bold;
  }
  .password-indicator {
    background-color: #C4C4C4;
    height: 0.3em;
    width: 100%;
  }
  .password-indicator div {
    height: 100%;
    width: 0%;
    background-color: #47C965;
  }
  input.password-confirm,
  input.password-field {
    width: 16em;
    margin-bottom: 0.4em;
  }
  div.password-confirm {
    float: right;  /* LTR */
    margin-top: 1.5em;
    visibility: hidden;
    width: 17em;
  }
  div.form-item div.password-suggestions {
    padding: 0.2em 0.5em;
    margin: 0.7em 0;
    width: 38.5em;
    border: 1px solid #B4B4B4;
  }
  div.password-suggestions ul {
    margin-bottom: 0;
  }
  .confirm-parent,
  .password-parent {
    clear: left; /* LTR */
    margin: 0;
    width: 36.3em;
  }
  
  /* Generated by user.module but used by profile.module: */
  .profile {
    clear: both;
    margin: 1em 0;
  }
  .profile .user-picture {
    float: right; /* LTR */
    margin: 0 1em 1em 0; /* LTR */
  }
  .profile h3 {
    border-bottom: 1px solid #ccc;
  }
  .profile dl {
    margin: 0 0 1.5em 0;
  }
  .profile dt {
    margin: 0 0 0.2em 0;
    font-weight: bold;
  }
  .profile dd {
    margin: 0 0 1em 0;
  }/**/
/**
   * Default alignment styles
   */
  .video-left {
    float: left;
  }
  
  .video-right {
    float: right;
  }
  
  .video-center {
    display: block;
    margin: 0 auto;
  }/**/
.views-exposed-form .views-exposed-widget {
    float: left; /* LTR */
    padding: .5em 1em 0 0; /* LTR */
  }
  
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
  }
  
  .views-exposed-form .form-item,
  .views-exposed-form .form-submit {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .views-exposed-form label {
    font-weight: bold;
  }
  
  .views-exposed-widgets {
    margin-bottom: .5em;
  }
  
  /* table style column align */
  .views-align-left {
    text-align: left;
  }
  .views-align-right {
    text-align: right;
  }
  .views-align-center {
    text-align: center;
  }
  
  /* Remove the border on tbody that system puts in */
  .views-view-grid tbody {
    border-top: none;
  }
  
  .view .progress-disabled {
    float: none;
  }/**/
/* General indentation & positioning classes */
  
  .rteindent1 {
      margin-left: 40px;
  }
  .rteindent2 {
      margin-left: 80px;
  }
  .rteindent3 {
      margin-left: 120px;
  }
  .rteindent4 {
      margin-left: 160px;
  }
  .rteleft {
      text-align: left;
  }
  .rteright {
      text-align: right;
  }
  .rtecenter {
      text-align: center;
  }
  .rtejustify {
      text-align: justify;
  }
  .ibimage_left {
      float: left;
  }
  .ibimage_right {
      float: right;
  }/**/
.ctools-locked {
    color: red;
    border: 1px solid red;
    padding: 1em;
  }
  
  .ctools-owns-lock {
    background: #FFFFDD none repeat scroll 0 0;
    border: 1px solid #F0C020;
    padding: 1em;
  }
  
  a.ctools-ajaxing,
  input.ctools-ajaxing,
  button.ctools-ajaxing,
  select.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(//spencer.teachit.media/sites/all/modules/contrib/ctools/images/status-active.gif) right center no-repeat;
  }
  
  div.ctools-ajaxing {
    float: left;
    width: 18px;
    background: url(//spencer.teachit.media/sites/all/modules/contrib/ctools/images/status-active.gif) center center no-repeat;
  }/**/
#flickrgallery {
    clear: both;
    float: none;
    width: 100%;
  }
  #block-flickrgallery-flickrgallery_block {
    width: 100%;
  }
  #flickrgallery-albums {
    display: inline-table;
  }
  #flickrgallery-description {
  	margin: 0 0 20px;
  }
  #flickrgallery .flickr-wrap {
  	float: left;
  	margin: 0 10px 10px 0;
  	min-width: 100px;
  	text-align: center;
  }
  #flickrgallery .flickrgallery-title {
  	clear: left;
  	display: block;
  }
  .flickrgallery-return {
  	clear: both;
  	float: none;
  }
  .block #flickrgallery .flickr-wrap {
    display: inline;
  }
  #content #flickrgallery {
    float: left;
  }
  #content #flickrgallery .flickr-wrap {
    float: left;
  }/**/
div.ctools-modal-content {
    background: #fff;
    color: #000;
    padding: 0;
    margin: 2px;
    border: 1px solid #000;
    width: 600px;
    text-align: left;
  }
  
  div.ctools-modal-content .modal-title {
    font-size: 120%;
    font-weight: bold;
    color: white;
    overflow: hidden;
    white-space: nowrap;
  }
  
  div.ctools-modal-content .modal-header {
    background-color: #2385c2;
    padding: 0 .25em 0 1em;
  }
  
  div.ctools-modal-content .modal-header a {
    color: white;
  }
  
  div.ctools-modal-content .modal-content {
    padding: 1em 1em 0 1em;
    overflow: auto;
    position: relative; /* Keeps IE7 from flowing outside the modal. */
  }
  
  div.ctools-modal-content .modal-form {
  }
  
  div.ctools-modal-content a.close {
    color: white;
    float: right;
  }
  
  div.ctools-modal-content a.close:hover {
    text-decoration: none;
  }
  
  div.ctools-modal-content a.close img {
    position: relative;
    top: 1px;
  }
  
  div.ctools-modal-content .modal-content .modal-throbber-wrapper {
    text-align: center;
  }
  
  div.ctools-modal-content .modal-content .modal-throbber-wrapper img {
    margin-top: 160px;
  }
  
  /** modal forms CSS **/
  div.ctools-modal-content .form-item label {
    width: 15em;
    float: left;
  }
  
  div.ctools-modal-content .form-item label.option {
    width: auto;
    float: none;
  }
  
  div.ctools-modal-content .form-item .description {
    clear: left;
  }
  
  div.ctools-modal-content .form-item .description .tips {
    margin-left: 2em;
  }
  
  div.ctools-modal-content .no-float .form-item * {
    float: none;
  }
  
  div.ctools-modal-content .modal-form .no-float label  {
    width: auto;
  }
  
  div.ctools-modal-content fieldset,
  div.ctools-modal-content .form-radios,
  div.ctools-modal-content .form-checkboxes {
    clear: left;
  }
  
  div.ctools-modal-content .vertical-tabs-panes > fieldset {
    clear: none;
  }
  
  div.ctools-modal-content .resizable-textarea {
    width: auto;
    margin-left: 15em;
    margin-right: 5em;
  }
  
  div.ctools-modal-content .container-inline .form-item {
    margin-right: 2em;
  }
  
  #views-exposed-pane-wrapper .form-item {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  div.ctools-modal-content label.hidden-options {
    background: transparent url(//spencer.teachit.media/sites/all/modules/contrib/ctools/images/arrow-active.png) no-repeat right;
    height: 12px;
    padding-right: 12px;
  }
  
  div.ctools-modal-content label.expanded-options {
    background: transparent url(//spencer.teachit.media/sites/all/modules/contrib/ctools/images/expanded-options.png) no-repeat right;
    height: 12px;
    padding-right: 16px;
  }
  
  div.ctools-modal-content .option-text-aligner label.expanded-options,
  div.ctools-modal-content .option-text-aligner label.hidden-options {
    background: none;
  }
  
  div.ctools-modal-content .dependent-options {
    padding-left: 30px;
  }/**/
/* Reset some styles from system.css and modal.css */
  
  div.modal-forms-modal-content .resizable-textarea {
    margin-left: 0;
    margin-right: 0;
  }
  
  div.modal-forms-modal-content .form-item label {
    float: none;
    width: auto;
  }
  
  div.modal-forms-modal-content .item-list ul li {
    margin: 0 0 0.25em 1.5em;
  }
  
  div.modal-forms-modal-content div.messages {
    margin: 0;
  }
  
  /* Styles for modal forms modal */
  
  div.modal-forms-modal-content {
    background: transparent;
    color: #000;
    font: 12px "Lucida Grande", Verdana, Arial, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  div.modal-forms-modal-content .popups-container {
    overflow: hidden;
    height: 100%;
    background: #fff;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  
  div.modal-forms-modal-content .modal-header {
    background-color: transparent;
    padding: 0.5em 1em 0 1em;
    min-height: 25px;
  }
  
  div.modal-forms-modal-content .modal-title {
    display: inline;
    color: #000;
  }
  
  div.modal-forms-modal-content .popups-close {
    float: right;
    cursor: pointer;
    background: url(//spencer.teachit.media/sites/all/modules/contrib/modal_forms/images/controls.png) -25px 0px no-repeat;
    width: 25px;
    height: 25px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  
  div.modal-forms-modal-content .popups-close:hover {
    background-position: -25px -25px;
  }/**/
div.panel-pane div.admin-links {
    font-size: xx-small;
    margin-right: 1em;
  }
  
  div.panel-pane div.admin-links li a {
    color: #ccc;
  }
  
  div.panel-pane div.admin-links li {
    padding-bottom: 2px;
    background: white;
    z-index: 201;
  }
  
  div.panel-pane div.admin-links:hover a,
  div.panel-pane div.admin-links-hover a {
    color: #000;
  }
  
  div.panel-pane div.admin-links a:before {
    content: "[";
  }
  
  div.panel-pane div.admin-links a:after {
    content: "]";
  }
  
  div.panel-pane div.panel-hide {
    display: none;
  }
  
  /** For IE we add the class via js; for other browsers we rely on :hover **/
  div.panel-pane div.panel-hide-hover,
  div.panel-pane:hover div.panel-hide {
    display: block;
    position: absolute;
    z-index: 200;
    margin-top: -1.5em;
  }
  
  div.panel-pane div.feed a {
    float: right;
  }/**/
.quicktabs-hide {
    display: none;
  }
  
  ul.quicktabs-tabs {
    margin-top: 0;
  }
  ul.quicktabs-tabs li {
    display: inline;
    background: none;
    list-style-type: none;
    padding: 2px;
    white-space: nowrap;
  }
  ul.quicktabs-tabs li a:focus {
    outline: none;
  }/**/
