/**
   * Default alignment styles
   */
  .video-left {
    float: left;
  }
  
  .video-right {
    float: right;
  }
  
  .video-center {
    display: block;
    margin: 0 auto;
  }/**/
.views-exposed-form .views-exposed-widget {
    float: left; /* LTR */
    padding: .5em 1em 0 0; /* LTR */
  }
  
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
  }
  
  .views-exposed-form .form-item,
  .views-exposed-form .form-submit {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .views-exposed-form label {
    font-weight: bold;
  }
  
  .views-exposed-widgets {
    margin-bottom: .5em;
  }
  
  /* table style column align */
  .views-align-left {
    text-align: left;
  }
  .views-align-right {
    text-align: right;
  }
  .views-align-center {
    text-align: center;
  }
  
  /* Remove the border on tbody that system puts in */
  .views-view-grid tbody {
    border-top: none;
  }
  
  .view .progress-disabled {
    float: none;
  }/**/
/* General indentation & positioning classes */
  
  .rteindent1 {
      margin-left: 40px;
  }
  .rteindent2 {
      margin-left: 80px;
  }
  .rteindent3 {
      margin-left: 120px;
  }
  .rteindent4 {
      margin-left: 160px;
  }
  .rteleft {
      text-align: left;
  }
  .rteright {
      text-align: right;
  }
  .rtecenter {
      text-align: center;
  }
  .rtejustify {
      text-align: justify;
  }
  .ibimage_left {
      float: left;
  }
  .ibimage_right {
      float: right;
  }/**/
.ctools-locked {
    color: red;
    border: 1px solid red;
    padding: 1em;
  }
  
  .ctools-owns-lock {
    background: #FFFFDD none repeat scroll 0 0;
    border: 1px solid #F0C020;
    padding: 1em;
  }
  
  a.ctools-ajaxing,
  input.ctools-ajaxing,
  button.ctools-ajaxing,
  select.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(//spencer.teachit.media/sites/all/modules/contrib/ctools/images/status-active.gif) right center no-repeat;
  }
  
  div.ctools-ajaxing {
    float: left;
    width: 18px;
    background: url(//spencer.teachit.media/sites/all/modules/contrib/ctools/images/status-active.gif) center center no-repeat;
  }/**/
#flickrgallery {
    clear: both;
    float: none;
    width: 100%;
  }
  #block-flickrgallery-flickrgallery_block {
    width: 100%;
  }
  #flickrgallery-albums {
    display: inline-table;
  }
  #flickrgallery-description {
  	margin: 0 0 20px;
  }
  #flickrgallery .flickr-wrap {
  	float: left;
  	margin: 0 10px 10px 0;
  	min-width: 100px;
  	text-align: center;
  }
  #flickrgallery .flickrgallery-title {
  	clear: left;
  	display: block;
  }
  .flickrgallery-return {
  	clear: both;
  	float: none;
  }
  .block #flickrgallery .flickr-wrap {
    display: inline;
  }
  #content #flickrgallery {
    float: left;
  }
  #content #flickrgallery .flickr-wrap {
    float: left;
  }/**/
div.panel-pane div.admin-links {
    font-size: xx-small;
    margin-right: 1em;
  }
  
  div.panel-pane div.admin-links li a {
    color: #ccc;
  }
  
  div.panel-pane div.admin-links li {
    padding-bottom: 2px;
    background: white;
    z-index: 201;
  }
  
  div.panel-pane div.admin-links:hover a,
  div.panel-pane div.admin-links-hover a {
    color: #000;
  }
  
  div.panel-pane div.admin-links a:before {
    content: "[";
  }
  
  div.panel-pane div.admin-links a:after {
    content: "]";
  }
  
  div.panel-pane div.panel-hide {
    display: none;
  }
  
  /** For IE we add the class via js; for other browsers we rely on :hover **/
  div.panel-pane div.panel-hide-hover,
  div.panel-pane:hover div.panel-hide {
    display: block;
    position: absolute;
    z-index: 200;
    margin-top: -1.5em;
  }
  
  div.panel-pane div.feed a {
    float: right;
  }/**/
