.dropdownMenu ul {	margin:0;	list-style:none}
#below-mainmenu{height:80px}
ul ul li{position:relative}
#nav-mainmenu ul{margin:0;padding:0;list-style:none}
#nav-mainmenu ul.mega-menu > li,.dropdownMenu ul.menu > li{position:relative;display:block;float:left;list-style-type:none}
#nav-mainmenu ul.mega-menu > li + li,.dropdownMenu ul.menu > li + li{margin-left:1px}

/* Item level 1 */
#nav-mainmenu ul.mega-menu > li > a{overflow:hidden;font-weight:400;text-transform:uppercase;font-size:13px;font-weight:700;position:relative;z-index:100;display:block;line-height:80px;padding:0 10px;text-decoration:none!important;transition:all .1s ease 0;-webkit-transition:all .1s ease 0;color:#333;text-shadow:1px 1px rgba(255,255,255,0.7);border-left:1px solid #f5f5f5;border-right:1px solid #f5f5f5;border-color:transparent}
#nav-mainmenu ul.mega-menu > li:hover > a,.dropdownMenu ul.menu > li:hover > a{background-color:#fff;border-color:#f5f5f5}
#nav-mainmenu ul.mega-menu > li[class*="children"] > a:after,.dropdownMenu ul.menu > li[class*="children"] > a:after{content:"\e915";display:inline-block;font-family:icomoon!important;font-style:normal;font-weight:400;line-height:1;margin:0 -5px 0 5px;position:relative;top:2px}
/* Item level n */
#nav-mainmenu ul.mega-menu ul a,.dropdownMenu ul.menu ul a{text-transform:capitalize;font-weight:300;position:relative;z-index:2;display:block;padding:10px;text-decoration:none!important}
#nav-mainmenu ul.mega-menu ul a:not(:hover){text-shadow:1px 1px rgba(255,255,255,0.7);color:#333}
#nav-mainmenu ul.mega-menu ul li[class*="children"] > a:after,.dropdownMenu ul.menu ul li[class*="children"] > a:after{content:"\e917";display:inline-block;font-family:icomoon!important;font-style:normal;font-weight:400;position:absolute;right:10px;top:50%;margin-top:-10px}
#nav-mainmenu ul.mega-menu li.mega-col-showsub > .mega-sub-menu > li:after{display:none!important}
/* Submenu */
#nav-mainmenu ul.mega-menu ul,.dropdownMenu ul.menu ul{margin-top:-1px;border-top:1px solid #000;width:250px;position:absolute;z-index:99;display:none;background-color:#fff;border-color:#f1f1f1;box-shadow:1px 2px 4px rgba(0,0,0,0.3);-webkit-box-shadow:1px 2px 4px rgba(0,0,0,0.3)}
#nav-mainmenu ul.mega-menu li:hover > ul,.dropdownMenu ul.menu li:hover > ul{display:block;animation-fill-mode:both;animation-name:slideInUp-30;animation-duration:.3s;-webkit-animation-duration:.3s;-webkit-animation-fill-mode:both;-webkit-animation-name:slideInUp-30}
#nav-mainmenu ul.mega-menu ul li:hover > ul,.dropdownMenu ul.menu ul li:hover > ul{animation-name:slideInRight-30;-webkit-animation-name:slideInRight-30}
#nav-mainmenu ul.mega-menu ul ul,.dropdownMenu ul.menu ul ul{left:98%;margin:0;top:0}
#nav-mainmenu ul.mega-menu ul li:hover,#nav-mainmenu ul.mega-menu ul li.active,.dropdownMenu ul.menu ul li:hover,.dropdownMenu ul.menu ul li.active{background-color:#fcfcfc}
#nav-mainmenu ul.mega-menu ul li + li,.dropdownMenu ul.menu ul li + li{border-top:1px solid #f7f7f7}
#nav-mainmenu ul.mega-menu ul span,.dropdownMenu ul.menu ul span{display:block}
/* Add Mega menu */
.mega-menu-wrap{position:relative}
#nav-mainmenu li.mega-menu-megamenu{position:static!important}
#nav-mainmenu li.mega-menu-megamenu > ul.mega-sub-menu{left:0!important;right:0!important;width:auto!important;padding:20px}
#nav-mainmenu ul.mega-sub-menu > li[class*="mega-menu-columns-"]{width:100%;float:left;padding:0 10px;border:medium none}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-1-of-2{width:50%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-2-of-2{width:100%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-1-of-3{width:33.3333%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-2-of-3{width:66.6667%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-3-of-3{width:100%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-1-of-4{width:25%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-2-of-4{width:50%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-3-of-4{width:75%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-4-of-4{width:100%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-1-of-5{width:20%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-2-of-5{width:40%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-3-of-5{width:60%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-4-of-5{width:80%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-5-of-5{width:100%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-1-of-6{width:16.6667%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-2-of-6{width:33.3333%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-3-of-6{width:50%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-4-of-6{width:66.6667%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-5-of-6{width:83.3333%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-6-of-6{width:100%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-1-of-7{width:14.2857%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-2-of-7{width:28.5714%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-3-of-7{width:42.8571%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-4-of-7{width:57.1429%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-5-of-7{width:71.4286%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-6-of-7{width:85.7143%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-7-of-7{width:100%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-1-of-8{width:12.5%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-2-of-8{width:25%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-3-of-8{width:37.5%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-4-of-8{width:50%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-5-of-8{width:62.5%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-6-of-8{width:75%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-7-of-8{width:87.5%}
#nav-mainmenu ul.mega-sub-menu > li.mega-menu-columns-8-of-8{width:100%}
#nav-mainmenu li[class*="mega-menu-columns-1"] > a,#nav-mainmenu li.mega-col-showsub > .mega-sub-menu > li > a{font-weight:500;background:transparent none repeat scroll 0 0!important;display:block;line-height:34px;padding:0!important;text-transform:uppercase;font-weight:700!important}
#nav-mainmenu li[class*="mega-menu-columns-1"] > a:after{display:none!important}
#nav-mainmenu li.mega-col-showsub > .mega-sub-menu > li + li{margin-top:20px;border:medium none}
#nav-mainmenu li[class*="mega-menu-columns-1"] > .mega-sub-menu,#nav-mainmenu li.mega-col-showsub > .mega-sub-menu > li > .mega-sub-menu{border:none!important;display:block!important;height:auto!important;background:none!important;position:relative;left:auto;top:auto;width:auto;box-shadow:none;-webkit-box-shadow:none;animation-name:none!important;-webkit-animation-name:none!important;margin:0!important}
#nav-mainmenu li[class*="mega-menu-columns-1"] > .mega-sub-menu{border:none!important}
#nav-mainmenu li[class*="mega-menu-columns-1"] > .mega-sub-menu > li > a,#nav-mainmenu li.mega-col-showsub > .mega-sub-menu > li > .mega-sub-menu > li > a{padding-left:0;padding-right:0}
#nav-mainmenu li[class*="mega-menu-columns-1"] > a.col-showsub{color:red!important}
#nav-mainmenu li.mega-col-showsub > .mega-sub-menu > li > a:after{display:none!important}
#nav-mainmenu ul.mega-sub-menu > li > a.col-showsub{display:none!important}
#nav-mainmenu li > a.col-showsub{display:none!important}
#nav-mainmenu li.mega-col-showsub > ul{display:block;margin:0}
#nav-mainmenu li.mega-col-showsub > .showsubmenu{display:none}
#nav-mainmenu li[class*="mega-menu-columns-1"]:hover{z-index:100}
#nav-mainmenu .mega-sub-menu a[class*="icon-"]:before{margin-right:5px;font-size:14px}
/* End Mega */
.showsubmenu{display:none!important}
span.flexMenuToggle{background:#000;background-color:rgba(0,0,0,0.1);bottom:0;cursor:pointer;display:none;position:absolute;top:0;width:100%;z-index:9999}
a.flexMenuToggle{background-color:#fff;display:none;line-height:36px;width:36px;height:36px;text-align:center;border-radius:100%;padding:0}
a.flexMenuToggle span[class*="m"]{background:#666;display:block;height:2px!important;width:18px!important;position:absolute;right:10px}
a.flexMenuToggle span.m1{top:11px!important}
a.flexMenuToggle span.m2{top:17px!important}
a.flexMenuToggle span.m3{top:23px!important}
#mainsite,#page > #nav-mainmenu-mobile,#body-style-9 #header-left{transition:all .3s ease-out;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out}
body.showmenu #page,body.hidemenu #page{position:fixed;top:0;left:0;bottom:0;right:0}
/* mainsite */
body.show-menu-mobile{overflow:hidden}
body.show-menu-mobile #page > #nav-mainmenu-mobile,body#body-style-9.show-menu-mobile #header-left{transform:translateX(0);-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0)}
body.show-menu-mobile span.flexMenuToggle{display:block}
#nav-mainmenu-mobile h1,#nav-mainmenu-mobile h2,#nav-mainmenu-mobile h3,#nav-mainmenu-mobile h4,#nav-mainmenu-mobile h5,#nav-mainmenu-mobile h6{color:inherit}
#nav-mainmenu-mobile .mega-block-title{padding-left:30px}
#nav-mainmenu-mobile .jvpost-block{padding:0 20px 20px 30px}
@media (max-width: 1199px) {
#nav-mainmenu{display:none}
a.flexMenuToggle{display:inline-block!important}
}
/* block-mainnav */
#nav-mainmenu-mobile{width:320px;z-index:10000000;overflow:auto;color:#fff;position:fixed;height:100%;-webkit-overflow-scrolling:touch;overflow-scrolling:touch;-o-overflow-scrolling:touch;-ms-overflow-scrolling:touch;margin:0!important;padding:0!important;top:0;left:0;top:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;transform:translateX(-320px);-webkit-transform:translateX(-320px);-moz-transform:translateX(-320px);-ms-transform:translateX(-320px)}
#nav-mainmenu-mobile .container{width:auto!important;margin:0!important;padding:0 0 50px!important}
#page > #nav-mainmenu-mobile{background-color:#292c30}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"]{color:#fff}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] .mega-menu-item a.no-text,#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] .mega-menu-item a.no-text[class*="icon-home32"]:before{font-size:16px!important;line-height:20px!important}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] .row{margin-left:0!important;margin-right:0!important}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] [class*="col-"]__{margin-bottom:0!important;padding:0!important;float:none!important;width:auto!important}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"],#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] ul{margin:0;padding:0;list-style:none}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] li{position:relative}
#nav-mainmenu-mobile a[class*="icon-"]:before{font-size:14px;margin-right:5px}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] li{float:none;margin:0;border-top:1px solid #313539}
#nav-mainmenu-mobile div[class*="menu"] > ul > li > a{line-height:20px;padding:10px 50px 10px 10px;display:block;text-transform:uppercase;color:rgba(255,255,255,0.8);background:none!important}
#nav-mainmenu-mobile div[class*="menu"] > ul > li > a:not([class*="icon-"]):after{border:2px solid rgba(0,0,0,.64);content:"";float:left;margin:5px 5px 0 0;width:10px;height:10px;border-radius:100%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color:rgba(255,255,255,0.2);-moz-box-shadow:0 1px 0 rgba(255,255,255,.2);-webkit-box-shadow:0 1px 0 rgba(255,255,255,.2);box-shadow:0 1px 0 rgba(255,255,255,.2)}
#nav-mainmenu-mobile li.menu-item[class*="icon-"]:before{float:left;margin:11px 5px 0 8px}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] li .showsubmenu{display:block!important;border-left:1px solid #313539;z-index:10;position:absolute;right:0;top:0;cursor:pointer;height:40px;line-height:40px;ppadding-left:5px;text-align:center;width:50px}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] li.parent-showsub > .showsubmenu:before{content:"ï¨"}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] ul{position:relative;width:auto;margin:0!important;border:none;padding:0;left:auto!important;box-shadow:none;-webkit-box-shadow:none}
#nav-mainmenu-mobile ul ul a{padding-left:30px;padding-bottom:10px;padding-top:10px;line-height:20px;display:block;font-family:arial}
#nav-mainmenu-mobile ul ul ul a{padding-left:45px}
#nav-mainmenu-mobile ul ul ul ul a{padding-left:60px}
#nav-mainmenu-mobile ul ul ul ul ul a{padding-left:75px}
#nav-mainmenu-mobile ul ul ul ul ul ul a{padding-left:90px}
#nav-mainmenu-mobile ul ul ul ul ul ul ul a{padding-left:105px}
#nav-mainmenu-mobile ul ul li.menu-item[class*="icon-"]:before{margin-left:30px}
#nav-mainmenu-mobile ul ul ul li.menu-item[class*="icon-"]:before{margin-left:45px}
#nav-mainmenu-mobile ul ul ul ul li.menu-item[class*="icon-"]:before{margin-left:60px}
#nav-mainmenu-mobile ul ul ul ul ul li.menu-item[class*="icon-"]:before{margin-left:75px}
#nav-mainmenu-mobile ul ul ul ul ul ul li.menu-item[class*="icon-"]:before{margin-left:90px}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] li.mega-col-showsub > ul{display:block;margin:0}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] li.mega-col-showsub > .showsubmenu{display:none}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] li[class*="mega-menu-columns-"] > .textwidget > ul{display:block;padding-bottom:20px}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] ul{display:none;background-color:#292929;animation-fill-mode:none;-webkit-animation-fill-mode:none;animation-name:none;-webkit-animation-name:none}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] li.parent-showsub > ul{display:block!important}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] .service .text p{color:#fff}
#nav-mainmenu-mobile div[class*="menu"] > ul[class*="menu"] .service-text a{display:inline-block}
#header-left #nav-mainmenu-mobile .showsubmenu{display:block!important;z-index:10}
@media (max-width: 782px) {
body.admin-bar #nav-mainmenu-mobile{top:46px}
}
#nav-mainmenu ul.mega-menu .mega-block-title{font-family:Arial,Helvetica,sans-serif!important;font-size:14px;font-weight:700!important;line-height:34px;margin:0 0 10px;text-transform:uppercase}
#nav-mainmenu ul.mega-menu .jv-posts a{padding:0!important}
#nav-mainmenu ul.mega-menu .jv-posts .entry-meta span{display:inline-block!important}